<h1>List of artists</h1>
<% flash.each do |type, msg| %>
    <div style="color: #FF6666">
        <%= msg %>
    </div>
<% end %>
<% for artist in @artists do %>
    <p>Name: <%= artist.name %>, age:<%= artist.age %>, experience_level:<%= artist.experience_level %></p>
    <p><%= link_to("view", artist_path(artist)) %></p>
    <p><%= link_to("edit", edit_artist_path(artist)) %></p> 
<% end %>
 <%= link_to("Create New Artist", new_artist_path)%>