<h1>Artist's details</h1>
<%= render "flash" %>
<p>Name: <%= @artist[:name] %></p> 
<p>Age: <%= @artist[:age] %></p> 
<p>Experience: <%= @artist.experience_level %></p>
<%=link_to("Back","/artists")%><br/>
<%= form_for(@artist,:html => {method: :delete}) do |f|%>
    <%= f.submit "Delete" %>
<%end%>